DB_HOST=golang-postgresql
DB_DRIVER_NAME=postgres
DB_NAME=ticket-sales
DB_USER=docker
DB_PASSWORD=docker
DB_PORT=5432
PARTNER1_BASE_URL=http://host.docker.internal:8000/api1
PARTNER2_BASE_URL=http://host.docker.internal:8000/api2
PORT=8080