@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #181E24;
  --color-secondary: #2A323C;
  --auto-fit-cards: repeat(auto-fit, minmax(277px, 1fr));
  --color-blurple: #7480FF;
  --color-contrast: #1D232A;
  --color-text-default:#A6ADBB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-btn-primary: var(--color-blurple);
  --color-input: var(--color-contrast);
  --color-bar: var(--color-contrast);
  --text-color-btn-primary: #050617;
  --text-color-subtitle: var(--color-blurple);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--color-text-default);
  font-family: Arial, Helvetica, sans-serif;
}
